@media print {
    body * {
      visibility: hidden; /* Ẩn tất cả các phần tử */
    }
  
    #order-list, #order-list * {
      visibility: visible; /* Hiển thị phần tử order-list và các phần tử con */
    }
  
    /* Đảm bảo rằng phần tử order-list sẽ được in đầy đủ */
    #order-list {
      position: absolute;
      top: 0;
      left: 0;
      grid-template-columns: 1fr 1fr 1fr;
      /* width: 100%; */
      height: auto;
    }
  
    /* Ngăn không cho đơn hàng bị chia cắt giữa các trang */
    .order-item {
      page-break-inside: avoid;
      break-inside: avoid; /* Đảm bảo tương thích với các trình duyệt */
      margin-bottom: 20px; /* Thêm khoảng cách giữa các đơn hàng khi in */
    }
  }
  